

code {
    background-color: rgba(255,255,255,0.05);
}

.post-date {
    padding-bottom: 10px;
}

.read-more {
    font-weight: 700;
    float: right;
    text-decoration: underline;
}

hr {
    margin-top: 40px;
}